.page
  = partial "partials/header"


  #shop-list
    #fw-list
      %h2.title
        %a{href: "#"}
          %span
            Fall/Winter<br />
            2013-2014
      .list
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL1.jpg", title: "COAT &harr; JACKET"}
            = image_tag "collections/lowres/FL1.jpg", :"data-src" => "../img/collections/small/FL1.jpg"
          %p.desc 01
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL2.jpg", title: "PANTS &harr; OVERALL"}
            = image_tag "collections/lowres/FL2.jpg", :"data-src" => "../img/collections/small/FL2.jpg"
          %p.desc 02
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3.jpg", title: "DRESS &harr; SKIRT"}
            = image_tag "collections/lowres/FL3.jpg", :"data-src" => "../img/collections/small/FL3.jpg"
          %p.desc 03
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL4.jpg", title: "2-LENGTH GILET"}
            = image_tag "collections/lowres/FL4.jpg", :"data-src" => "../img/collections/small/FL4.jpg"
          %p.desc 04
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL5.jpg", title: "BOMBER JACKET W/ REMOVABLE SLEEVES"}
            = image_tag "collections/lowres/FL5.jpg", :"data-src" => "../img/collections/small/FL5.jpg"
          %p.desc 05
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL6.jpg", title: "2-LENGTH PANTS &amp; DOUBLE FACED TOP"}
            = image_tag "collections/lowres/FL6.jpg", :"data-src" => "../img/collections/small/FL6.jpg"
          %p.desc 06
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL7.jpg", title: "DRESS &harr; TOP"}
            = image_tag "collections/lowres/FL7.jpg", :"data-src" => "../img/collections/small/FL7.jpg"
          %p.desc 07
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL8.jpg", title: "2-PIECE OVERALL &harr; TOP+PANTS"}
            = image_tag "collections/lowres/FL8.jpg", :"data-src" => "../img/collections/small/FL8.jpg"
          %p.desc 08
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL9.jpg", title: "DOUBLE FACED PARKA"}
            = image_tag "collections/lowres/FL9.jpg", :"data-src" => "../img/collections/small/FL9.jpg"
          %p.desc 09
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL10.jpg", title: "2-LENGTH TOP W/ REMOVABLE COLLAR &amp; 2-LENGTH SKIRT"}
            = image_tag "collections/lowres/FL10.jpg", :"data-src" => "../img/collections/small/FL10.jpg"
          %p.desc 10

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL11.jpg", title: "DRESS &harr; TOP"}
            = image_tag "collections/lowres/FL11.jpg", :"data-src" => "../img/collections/small/FL11.jpg"
          %p.desc 11
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL12.jpg", title: "2-LENGHT PANTS"}
            = image_tag "collections/lowres/FL12.jpg", :"data-src" => "../img/collections/small/FL12.jpg"
          %p.desc 12
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL13.jpg", title: "CARDIGAN W/ REMOVABLE SLEEVES"}
            = image_tag "collections/lowres/FL13.jpg", :"data-src" => "../img/collections/small/FL13.jpg"
          %p.desc 13
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL14.jpg",title: "2-LENGTH TOP W/ REMOVABLE COLLAR &amp; 2-LENGTH SKIRT"}
            = image_tag "collections/lowres/FL14.jpg", :"data-src" => "../img/collections/small/FL14.jpg"
          %p.desc 14
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL15.jpg", title: "DRESS &harr; TOP"}
            = image_tag "collections/lowres/FL15.jpg", :"data-src" => "../img/collections/small/FL15.jpg"
          %p.desc 15
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL16.jpg", title: "DOUBLE FACED PARKA"}
            = image_tag "collections/lowres/FL16.jpg", :"data-src" => "../img/collections/small/FL16.jpg"
          %p.desc 16
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL17.jpg", title: "2-PIECE OVERALL &harr; CORSET+PANTS"}
            = image_tag "collections/lowres/FL17.jpg", :"data-src" => "../img/collections/small/FL17.jpg"
          %p.desc 17
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL18.jpg",  title: "ECO-FUR W/REMOVABLE SLEEVES"}
            = image_tag "collections/lowres/FL18.jpg", :"data-src" => "../img/collections/small/FL18.jpg"
          %p.desc 18
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL19.jpg", title: "DRESS &harr; TOP"}
            = image_tag "collections/lowres/FL19.jpg", :"data-src" => "../img/collections/small/FL19.jpg"
          %p.desc 19
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL20.jpg", title: "2-PIECE OVERALL &harr; CORSET+SHORTS"}
            = image_tag "collections/lowres/FL20.jpg", :"data-src" => "../img/collections/small/FL20.jpg"
          %p.desc 20

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL21.jpg", title: "2-LENGTH TOP &amp; 4-LENGTH SKIRT"}
            = image_tag "collections/lowres/FL21.jpg", :"data-src" => "../img/collections/small/FL21.jpg"
          %p.desc 21
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL22.jpg",  title: "2-LENGTH COAT W/ REMOVABLE HOOD &amp; CAPE"}
            = image_tag "collections/lowres/FL22.jpg", :"data-src" => "../img/collections/small/FL22.jpg"
          %p.desc 22
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL23.jpg",  title: "2-LENGTH COAT"}
            = image_tag "collections/lowres/FL23.jpg", :"data-src" => "../img/collections/small/FL23.jpg"
          %p.desc 23
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL24.jpg",  title: "2-PIECE DRESS &harr; CORSET+MINISKIRT"}
            = image_tag "collections/lowres/FL24.jpg", :"data-src" => "../img/collections/small/FL24.jpg"
          %p.desc 24
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL25.jpg", title: "SWEATER W/ REMOVABLE SLEEVES"}
            = image_tag "collections/lowres/FL25.jpg", :"data-src" => "../img/collections/small/FL25.jpg"
          %p.desc 25
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL26.jpg", title: "DRESS &harr; TOP"}
            = image_tag "collections/lowres/FL26.jpg", :"data-src" => "../img/collections/small/FL26.jpg"
          %p.desc 26
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL27.jpg", title: "DRESS &harr; TOP W/ REMOVABLE COLLAR"}
            = image_tag "collections/lowres/FL27.jpg", :"data-src" => "../img/collections/small/FL27.jpg"
          %p.desc 27
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL28.jpg", title: "OVERALL &harr; PANTS"}
            = image_tag "collections/lowres/FL28.jpg", :"data-src" => "../img/collections/small/FL28.jpg"
          %p.desc 28
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL29.jpg", title: "DRESS &harr; TOP"}
            = image_tag "collections/lowres/FL29.jpg", :"data-src" => "../img/collections/small/FL29.jpg"
          %p.desc 29
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL30.jpg", title: "DRESS &harr; CORSET+SKIRT"}
            = image_tag "collections/lowres/FL30.jpg", :"data-src" => "../img/collections/small/FL30.jpg"
          %p.desc 30
  = partial "partials/footer"



= javascript_include_tag 'main'