.page
  = partial "partials/header"


  #shop-list
    #fw-list
      %h2.title
        %a{href: "#"}
          %span
            PRESS COVERAGE
      .list
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL1-(1).jpg", :"data-src" => "../img/collections/small/FL1-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL1-(2).jpg", :"data-src" => "../img/collections/small/FL1-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL2-(1).jpg", :"data-src" => "../img/collections/small/FL2-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL2-(2).jpg", :"data-src" => "../img/collections/small/FL2-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL3-(1).jpg", :"data-src" => "../img/collections/small/FL3-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL3-(2).jpg", :"data-src" => "../img/collections/small/FL3-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL3-(3).jpg", :"data-src" => "../img/collections/small/FL3-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL4-(1).jpg", :"data-src" => "../img/collections/small/FL4-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL4-(2).jpg", :"data-src" => "../img/collections/small/FL4-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL5-(1).jpg", :"data-src" => "../img/collections/small/FL5-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL5-(2).jpg", :"data-src" => "../img/collections/small/FL5-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL5-(3).jpg", :"data-src" => "../img/collections/small/FL5-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL6-(1).jpg", :"data-src" => "../img/collections/small/FL6-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL6-(2).jpg", :"data-src" => "../img/collections/small/FL6-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL7-(1).jpg", :"data-src" => "../img/collections/small/FL7-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL7-(2).jpg", :"data-src" => "../img/collections/small/FL7-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL8-(1).jpg", :"data-src" => "../img/collections/small/FL8-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL8-(2).jpg", :"data-src" => "../img/collections/small/FL8-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL8-(3).jpg", :"data-src" => "../img/collections/small/FL8-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL9-(1).jpg", :"data-src" => "../img/collections/small/FL9-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL9-(2).jpg", :"data-src" => "../img/collections/small/FL9-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL10-(1).jpg", :"data-src" => "../img/collections/small/FL10-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL10-(2).jpg", :"data-src" => "../img/collections/small/FL10-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL10-(3).jpg", :"data-src" => "../img/collections/small/FL10-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL11-(1).jpg", :"data-src" => "../img/collections/small/FL11-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL11-(2).jpg", :"data-src" => "../img/collections/small/FL11-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL11-(3).jpg", :"data-src" => "../img/collections/small/FL11-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL12-(1).jpg", :"data-src" => "../img/collections/small/FL12-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL12-(2).jpg", :"data-src" => "../img/collections/small/FL12-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL13-(1).jpg", :"data-src" => "../img/collections/small/FL13-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL13-(2).jpg", :"data-src" => "../img/collections/small/FL13-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL14-(1).jpg", :"data-src" => "../img/collections/small/FL14-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL14-(2).jpg", :"data-src" => "../img/collections/small/FL14-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL14-(3).jpg", :"data-src" => "../img/collections/small/FL14-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL15-(1).jpg", :"data-src" => "../img/collections/small/FL15-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL15-(2).jpg", :"data-src" => "../img/collections/small/FL15-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL15-(3).jpg", :"data-src" => "../img/collections/small/FL15-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL16-(1).jpg", :"data-src" => "../img/collections/small/FL16-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL16-(2).jpg", :"data-src" => "../img/collections/small/FL16-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL16-(3).jpg", :"data-src" => "../img/collections/small/FL16-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL17-(1).jpg", :"data-src" => "../img/collections/small/FL17-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL17-(2).jpg", :"data-src" => "../img/collections/small/FL17-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL18-(1).jpg", :"data-src" => "../img/collections/small/FL18-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL18-(2).jpg", :"data-src" => "../img/collections/small/FL18-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL18-(3).jpg", :"data-src" => "../img/collections/small/FL18-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL19-(1).jpg", :"data-src" => "../img/collections/small/FL19-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL19-(2).jpg", :"data-src" => "../img/collections/small/FL19-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL20-(1).jpg", :"data-src" => "../img/collections/small/FL20-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL20-(2).jpg", :"data-src" => "../img/collections/small/FL20-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL21-(1).jpg", :"data-src" => "../img/collections/small/FL21-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL21-(2).jpg", :"data-src" => "../img/collections/small/FL21-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL21-(3).jpg", :"data-src" => "../img/collections/small/FL21-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL22-(1).jpg", :"data-src" => "../img/collections/small/FL22-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL22-(2).jpg", :"data-src" => "../img/collections/small/FL22-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL23-(1).jpg", :"data-src" => "../img/collections/small/FL23-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL23-(2).jpg", :"data-src" => "../img/collections/small/FL23-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL23-(3).jpg", :"data-src" => "../img/collections/small/FL23-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL24-(1).jpg", :"data-src" => "../img/collections/small/FL24-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL24-(2).jpg", :"data-src" => "../img/collections/small/FL24-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL25-(1).jpg", :"data-src" => "../img/collections/small/FL25-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL25-(2).jpg", :"data-src" => "../img/collections/small/FL25-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL26-(1).jpg", :"data-src" => "../img/collections/small/FL26-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL26-(2).jpg", :"data-src" => "../img/collections/small/FL26-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL26-(3).jpg", :"data-src" => "../img/collections/small/FL26-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL27-(1).jpg", :"data-src" => "../img/collections/small/FL27-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL27-(2).jpg", :"data-src" => "../img/collections/small/FL27-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL27-(3).jpg", :"data-src" => "../img/collections/small/FL27-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL28-(1).jpg", :"data-src" => "../img/collections/small/FL28-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL28-(2).jpg", :"data-src" => "../img/collections/small/FL28-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL28-(3).jpg", :"data-src" => "../img/collections/small/FL28-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL29-(1).jpg", :"data-src" => "../img/collections/small/FL29-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL29-(2).jpg", :"data-src" => "../img/collections/small/FL29-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL30-(1).jpg", :"data-src" => "../img/collections/small/FL30-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL30-(2).jpg", :"data-src" => "../img/collections/small/FL30-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL31-(1).jpg", :"data-src" => "../img/collections/small/FL31-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL31-(2).jpg", :"data-src" => "../img/collections/small/FL31-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL31-(3).jpg", :"data-src" => "../img/collections/small/FL31-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL32-(1).jpg", :"data-src" => "../img/collections/small/FL32-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL32-(2).jpg", :"data-src" => "../img/collections/small/FL32-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL32-(3).jpg", :"data-src" => "../img/collections/small/FL32-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL33-(1).jpg", :"data-src" => "../img/collections/small/FL33-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL33-(2).jpg", :"data-src" => "../img/collections/small/FL33-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL33-(3).jpg", :"data-src" => "../img/collections/small/FL33-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL34-(1).jpg", :"data-src" => "../img/collections/small/FL34-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL34-(2).jpg", :"data-src" => "../img/collections/small/FL34-(2).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL34-(3).jpg", :"data-src" => "../img/collections/small/FL34-(3).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL35-(1).jpg", :"data-src" => "../img/collections/small/FL35-(1).jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL35-(2)B.jpg", :"data-src" => "../img/collections/small/FL35-(2)B.jpg"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3-test.jpg"}
            = image_tag "collections/lowres/FL35-(3).jpg", :"data-src" => "../img/collections/small/FL35-(3).jpg"




  = partial "partials/footer"



= javascript_include_tag 'main'