.page
  = partial "partials/header"


  #shop-list
    #fw-list
      %h2.title
        %a{href: "#"}
          %span
            Fall/Winter<br />
            2013-2014
      .list
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL10.jpg",title: "2-LENGTH TOP W/ REMOVABLE COLLAR &amp; 2-LENGTH SKIRT"}
            = image_tag "collections/lowres/FL10.jpg", :"data-src" => "../img/collections/small/FL10.jpg"
          %p.desc 01
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL7.jpg", title: "DRESS &harr; TOP"}
            = image_tag "collections/lowres/FL7.jpg", :"data-src" => "../img/collections/small/FL7.jpg"
          %p.desc 02
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL8.jpg", title: "2-LENGHT PANTS"}
            = image_tag "collections/lowres/FL8.jpg", :"data-src" => "../img/collections/small/FL8.jpg"
          %p.desc 03
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL5.jpg", title: "DOUBLE FACED PARKA"}
            = image_tag "collections/lowres/FL5.jpg", :"data-src" => "../img/collections/small/FL5.jpg"
          %p.desc 04
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL6.jpg", title: "2-LENGTH TOP W/ REMOVABLE COLLAR &amp; 2-LENGTH SKIRT"}
            = image_tag "collections/lowres/FL6.jpg", :"data-src" => "../img/collections/small/FL6.jpg"
          %p.desc 05
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL4.jpg", title: "2-PIECE OVERALL &harr; TOP+PANTS"}
            = image_tag "collections/lowres/FL4.jpg", :"data-src" => "../img/collections/small/FL4.jpg"
          %p.desc 06
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL3.jpg", title: "DRESS &harr; TOP"}
            = image_tag "collections/lowres/FL3.jpg", :"data-src" => "../img/collections/small/FL3.jpg"
          %p.desc 07
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL12.jpg", title: "DRESS &harr; TOP"}
            = image_tag "collections/lowres/FL12.jpg", :"data-src" => "../img/collections/small/FL12.jpg"
          %p.desc 08
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL11.jpg",  title: "ECO-FUR W/REMOVABLE SLEEVES"}
            = image_tag "collections/lowres/FL11.jpg", :"data-src" => "../img/collections/small/FL11.jpg"
          %p.desc 09
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL13.jpg", title: "2-LENGTH TOP &amp; 4-LENGTH SKIRT"}
            = image_tag "collections/lowres/FL13.jpg", :"data-src" => "../img/collections/small/FL13.jpg"
          %p.desc 10
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL14.jpg",  title: "2-LENGTH COAT W/ REMOVABLE HOOD &amp; CAPE"}
            = image_tag "collections/lowres/FL14.jpg", :"data-src" => "../img/collections/small/FL14.jpg"
          %p.desc 11
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL16.jpg", title: "SWEATER W/ REMOVABLE SLEEVES"}
            = image_tag "collections/lowres/FL16.jpg", :"data-src" => "../img/collections/small/FL16.jpg"
          %p.desc 12
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL15.jpg",  title: "2-PIECE DRESS &harr; CORSET+MINISKIRT"}
            = image_tag "collections/lowres/FL15.jpg", :"data-src" => "../img/collections/small/FL15.jpg"
          %p.desc 13

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL17.jpg", title: "DRESS &harr; TOP"}
            = image_tag "collections/lowres/FL17.jpg", :"data-src" => "../img/collections/small/FL17.jpg"
          %p.desc 14
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL18_a.jpg", title: "DRESS &harr; TOP W/ REMOVABLE COLLAR"}
            = image_tag "collections/lowres/FL18_a.jpg", :"data-src" => "../img/collections/small/FL18_a.jpg"
          %p.desc 15
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/large/FL21.jpg", title: "DRESS &harr; CORSET+SKIRT"}
            = image_tag "collections/lowres/FL21_a.jpg", :"data-src" => "../img/collections/small/FL21_a.jpg"
          %p.desc 16

  = partial "partials/footer"



= javascript_include_tag 'main'