.page
  = partial "partials/header"


  #shop-list
    #ss-list
      %h2.title
        %a{href: "#"}
          %span
            PRESS COVERAGE
      .list
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/01.jpg", title: "Lorem ipsum dolor sit amet"}
            .info
              %p
                vogue <br />
                <span style= "text-decoration: line-through; font-size: 12px">275€</span><br />
                55€
              .bkgr
            .overlay
            = image_tag "press/lowres/01.jpg", :"data-src" => "../img/press/small/01.jpg", :width => "134"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/01.jpg", title: "Etiam quis mi eu elit temp"}
            .info
              %p
                vogue <br />
                <span style= "text-decoration: line-through; font-size: 12px">275€</span><br />
                55€
              .bkgr
            .overlay
            = image_tag "press/lowres/01.jpg", :"data-src" => "../img/press/small/01.jpg" , :width => "134"
        %div
          %a{:href => "#"}
            .info
              %p
                vogue <br />
                <span style= "text-decoration: line-through; font-size: 12px">275€</span><br />
                55€
              .bkgr
            .overlay
            = image_tag "press/lowres/01.jpg", :"data-src" => "../img/press/small/01.jpg" , :width => "134"

        %div
          %a{:href => "#"}
            .info
              %p
                vogue <br />
                <span style= "text-decoration: line-through; font-size: 12px">275€</span><br />
                55€
              .bkgr
            .overlay
            = image_tag "press/lowres/01.jpg", :"data-src" => "../img/press/small/01.jpg"  , :width => "134"
        %div
          %a{:href => "#"}
            .info
              %p
                vogue <br />
                <span style= "text-decoration: line-through; font-size: 12px">275€</span><br />
                55€
              .bkgr
            .overlay
            = image_tag "press/lowres/01.jpg", :"data-src" => "../img/press/small/01.jpg"  , :width => "134"

        %div
          %a{:href => "#"}
            .info
              %p
                vogue <br />
                <span style= "text-decoration: line-through; font-size: 12px">275€</span><br />
                55€
              .bkgr
            .overlay
            = image_tag "press/lowres/01.jpg", :"data-src" => "../img/press/small/01.jpg"   , :width => "134"
  = partial "partials/footer"



= javascript_include_tag 'main'