.page
  = partial "partials/header"
  #shop-list
    #ss-list
      %h2.title
        %a{href: "#"}
          %span
            Spring/Summer
            <br />2014
      .list

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_1.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_15.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_15.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_1.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_16.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_16.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_2.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_17.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_17.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_2.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_18.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_18.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_3.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_19.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_19.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_3.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_20.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_20.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_4.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_21.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_21.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_5.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_22.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_22.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_6.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_23.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_23.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_6.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_24.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_24.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_7.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_25.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_25.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_7.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_26.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_26.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_8.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_27.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_27.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_9.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_28.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_28.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_9.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_29.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_29.jpg"



        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_10.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_36.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_36.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_12.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_37.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_37.jpg"


        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_13.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_40.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_40.jpg"



        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_15.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_44.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_44.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_15.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_45.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_45.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_11.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_46.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_46.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_14.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_47.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_47.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_16.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_48.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_48.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_16.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_49.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_49.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_17.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_50.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_50.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_18.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_51.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_51.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_19.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_52.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_52.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_20.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_53.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_53.jpg"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/collections/ss14/large/flr-ss14_21.jpg",title: ""}
            = image_tag "collections/ss14/lowres/flavialaroccaSS14_54.jpg", :"data-src" => "../img/collections/ss14/small/flavialaroccaSS14_54.jpg"

  = partial "partials/footer"



= javascript_include_tag 'main'