#share
  .color-box
    %h2
      If you love the project, share it!
    .addthis_toolbox
      .custom_images
        %a.addthis_button_facebook.sharebt{style: "text-decoration:none; cursor: pointer; "}
          = image_tag "share-buttons/facebook.png", border: "0", width: "35", height: "35", alt: "facebook"
        %a.addthis_button_thefancy.sharebt{style: "text-decoration:none; cursor: pointer; "}
          = image_tag "share-buttons/fancy.png", border: "0", width: "35", height: "35", alt: "facebook"
        %a.addthis_button_twitter.sharebt{style: "text-decoration:none; cursor: pointer; "}
          = image_tag "share-buttons/twitter.png", border: "0", width: "35", height: "35", alt: "facebook"
        %a.addthis_button_google_plusone_share.sharebt{style: "text-decoration:none; cursor: pointer; "}
          = image_tag "share-buttons/plus.png", border: "0", width: "35", height: "35", alt: "facebook"
        %a.addthis_button_pinterest_share.sharebt{style: "text-decoration:none; cursor: pointer; "}
          = image_tag "share-buttons/pinterest.png", border: "0", width: "35", height: "35", alt: "facebook"

