.page
  = partial "partials/header"

  #shop-item
    %div.left
      = image_tag "shop/items/fw13/big_lowfi/FW12-a.jpg", :"data-src" => "/img/shop/items/fw13/big/FW12-a.jpg"
      = image_tag "shop/items/fw13/big_lowfi/FW12-b.jpg", :"data-src" => "/img/shop/items/fw13/big/FW12-b.jpg"
    %div.right
      %h1.title
        %span
          2-piece skirt
      %h2.price
        %span{:style=>"font-size: 24px"}
          287,50€

      %h2.description
        Description
      %p
        Pale jacquard midi skirt. It comprises an upper part (which can be worn separately as a mini skirt) and a bottom part (to wear combined with the upper part only)
      %h2.composition
        Size
      %p
        Small <b />
        Medium  <b />
        Fits true to size.
      %h2.composition
        Composition & Care instructions
      %p
        34% cotton; 32% polycarbonate; 14% wool; 12% polyethylene; 8% viscose <b />
        Dry clean - any dry cleaning solvent other than trichloroethylene may be safely used. Do not bleach. Iron, low. Do not tumble dry
      %h2.availability
        Availability
      %p
        1 Piece Small  <b />
        1 Piece Medium
      %h2.shipping
        Shipping
      %p
        To Italy: via Poste Italiane, Pacco Celere 3 - delivery within 3 working days: €9.90 <br />
        To EU & rest of the world: place your order. We will hold it and contact you with the shipping/delivery and price details according to your country of destination.

      %p
      %button{"data-celery" => "3-dress-denim"} BUY NOW
      %script{src: "https://www.trycelery.com/js/celery.js", type: "text/javascript"}
  = partial "partials/footer"



= javascript_include_tag 'main'