.page
  = partial "partials/header"

  #shop-item
    %div.left
      = image_tag "shop/items/fw13/big_lowfi/FW16-a.jpg", :"data-src" => "/img/shop/items/fw13/big/FW16-a.jpg"
      = image_tag "shop/items/fw13/big_lowfi/FW16-b.jpg", :"data-src" => "/img/shop/items/fw13/big/FW16-b.jpg"
      = image_tag "shop/items/fw13/big_lowfi/FW16-c.jpg", :"data-src" => "/img/shop/items/fw13/big/FW16-c.jpg"
      = image_tag "shop/items/fw13/big_lowfi/FW16-d.jpg", :"data-src" => "/img/shop/items/fw13/big/FW16-d.jpg"
      = image_tag "shop/items/fw13/big_lowfi/FW16-e.jpg", :"data-src" => "/img/shop/items/fw13/big/FW16-e.jpg"
    %div.right
      %h1.title
        %span
          3-length dress
      %h2.price
        %span{:style=>"text-decoration: line-through; font-size: 18px"}
          225€
        %span{:style=>"font-size: 24px"}
          112€

      %h2.description
        Description
      %p
        Three-length purple dress comprising an upper part and a 20cm elastic black waist-band at the bottom-end. The dress can be worn in three different ways: 1/ as a midi dress; 2/ as a mini dress, by flipping over the band; 3/ as a puffed blouse, with the band worn just above the waist-line.
      %h2.composition
        Size
      %p
        Medium <br />
        Fits true to size.
      %h2.composition
        Composition & Care instructions
      %p
        50% acrylic; 50% viscose <br />
        Dry clean - any dry cleaning solvent other than trichloroethylene may be safely used. Do not bleach. Iron, low. Do not tumble dry
      %h2.availability
        Availability
      %p
        1 Piece
      %h2.shipping
        Shipping
      %p
        To Italy: via Poste Italiane, Pacco Celere 3 - delivery within 3 working days: €9.90 <br />
        To EU & rest of the world: place your order. We will hold it and contact you with the shipping/delivery and price details according to your country of destination.

      %p
      %button{"data-celery" => "3-lenght-dress-purple"} BUY NOW
      %script{src: "https://www.trycelery.com/js/celery.js", type: "text/javascript"}
  = partial "partials/footer"



= javascript_include_tag 'main'