.page
  = partial "partials/header"

  #shop-item
    %div.left
      = image_tag "shop/items/fw13/big_lowfi/FW17-a.jpg", :"data-src" => "/img/shop/items/fw13/big/FW17-a.jpg"
      = image_tag "shop/items/fw13/big_lowfi/FW17-b.jpg", :"data-src" => "/img/shop/items/fw13/big/FW17-b.jpg"
      = image_tag "shop/items/fw13/big_lowfi/FW17-c.jpg", :"data-src" => "/img/shop/items/fw13/big/FW17-c.jpg"
      = image_tag "shop/items/fw13/big_lowfi/FW17-d.jpg", :"data-src" => "/img/shop/items/fw13/big/FW17-d.jpg"
    %div.right
      %h1.title
        %span
          2-piece overalls/trousers
      %h2.price
        %span{:style=>"font-size: 24px"}
          260€

      %h2.description
        Description
      %p
        Two-piece black overalls comprising a regular v-neck top and striped regular-waist trousers with a wide-cut leg. The top and the trousers are two separate pieces which can be worn both separately and combined into one dungarees
      %h2.composition
        Size
      %p
        X-Small <b />
        Small <b />
        Fits true to size.
      %h2.composition
        Composition & Care instructions
      %p
        50% acrylic; 50% viscose <b />
        Dry clean - any dry cleaning solvent other than trichloroethylene may be safely used. Do not bleach. Iron, low. Do not tumble dry
      %h2.availability
        Availability
      %p
        2 Pieces X-Small <b />
        1 Piece Small
      %h2.shipping
        Shipping
      %p
        To Italy: via Poste Italiane, Pacco Celere 3 - delivery within 3 working days: €9.90 <br />
        To EU & rest of the world: place your order. We will hold it and contact you with the shipping/delivery and price details according to your country of destination.

      %p
      %button{"data-celery" => "overall-black"} BUY NOW
      %script{src: "https://www.trycelery.com/js/celery.js", type: "text/javascript"}
  = partial "partials/footer"



= javascript_include_tag 'main'