.page
  = partial "partials/header"
  = partial "partials/banner-ss14"
  = partial "partials/master-and-muse"
  = partial "partials/banner-wowcracy"
  //= partial "partials/banner"
  //= partial "partials/collection-gallery"
  = partial "partials/share"
  #video-container
    .color-box
      %h2.concept
        THE CONCEPT
      #video
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "281", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/74242889?title=0&byline=0&portrait=0&color=29a9b3", :webkitallowfullscreen => "", :width => "500"}
  #instagram-feed
    .instagram
    %h2.title
      %a{href: "http://instagram.com/flavialarocca_"}
        %span
          flavialarocca_<br /> instagram feed


  = partial "partials/footer"

= javascript_include_tag 'main'