.page
  = partial "partials/header"
  = partial "partials/banner"
  = partial "partials/stripesmania"
  = partial "partials/collection-gallery"
  = partial "partials/share"
  #video-container
    .color-box
      %h2.concept
        THE CONCEPT
      #video
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "281", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/74242889?title=0&byline=0&portrait=0&color=29a9b3", :webkitallowfullscreen => "", :width => "500"}
  #instagram-feed
    .instagram
    %h2.title
      %a{href: "http://instagram.com/flavialarocca_"}
        %span
          flavialarocca_<br /> instagram feed
  #vfno
    %h2.title
      %a{href: "http://vfno2013.vogue.it/milano/iniziative-speciali/2013/07/visa-e-vfno"}
        %span
          THE TALENTS NIGHT
    #vogue-logo
      Vogue Fashion Night Out 2013
    .color-box
      %p
        Buy Talents in One Night<br />
        <small>promoted by</small> <br /><i class="visa">VISA</i><br /><br />
        You will find the new Fall/Winter 2013 collection  at "The Talents Night" temporary store, Via della Spiga 17, Milano.
        A special sale at special prices, just for one night!
        More info on <a href="http://vfno2013.vogue.it/milano/iniziative-speciali/2013/07/visa-e-vfno">visa-e-vfno</a>



  = partial "partials/footer"

= javascript_include_tag 'main'