.page
  = partial "partials/header"


  #shop-list
    #people-list
      %h2.title
        %a{href: "#"}
          %span
            PEOPLE in FLR
      .list

        %div
          .info
            %p
              Viviana Volpicella
            .bkgr
          .overlay
          = image_tag "viviana_volpicella.jpg"

        %div
          .info
            %p
              Maria & Candela <br/ >
              Grazia.it
            .bkgr
          .overlay
          = image_tag "candela_maria.jpg"

        %div
          .info
            %p
              Lovers
            .bkgr
          .overlay
          = image_tag "lovers.jpg"
        %div
          .info
            %p
              Milla Jovovich
            .bkgr
          .overlay
          = image_tag "milla.jpg"

        %div
          .info
            %p
              Candela Novembre
            .bkgr
          .overlay
          = image_tag "candela_novembre.jpg"
        %div
          .info
            %p
              Lavinia <br/ >
              The Style Pusher
            .bkgr
          .overlay
          = image_tag "lavinia.png"
        %div
          .info
            %p
              Veronica <br />
              The Fashion Fruit
            .bkgr
          .overlay
          = image_tag "veronica_ferraro.jpg"
        %div
          .info
            %p
              Shea <br/ >
              Peace Love Shea
            .bkgr
          .overlay
          = image_tag "shea1.jpg"
        %div
          .info
            %p
              Shea <br/ >
              Peace Love Shea
            .bkgr
          .overlay
          = image_tag "shea2.jpg"
        %div
          .info
            %p
              Filippa Lagerback

            .bkgr
          .overlay
          = image_tag "filippa.jpg"
        %div
          .info
            %p
              Malika Ayane
            .bkgr
          .overlay
          = image_tag "malika.jpg"

        %div
          .info
            %p
              Malika Ayane
            .bkgr
          .overlay
          = image_tag "malika2.jpg"

        %div
          .info
            %p
              Teresa Maccapani Missoni
            .bkgr
          .overlay
          = image_tag "teresa_missoni.jpg"

        %div
          .info
            %p
              Syria
            .bkgr
          .overlay
          = image_tag "syria.jpg"





  = partial "partials/footer"



= javascript_include_tag 'main'