.page
  = partial "partials/header"


  #shop-list
    #ss-list
      %h2.title
        %a{href: "#"}
          %span
            PRESS COVERAGE
      .list

        %div
          %a{href: "http://www.amica.it/2013/12/03/flavialarocca-costruzioni-di-moda/", target: "_blank"}
            .overlay
            = image_tag "press/lowres/amica_cover.jpg", :"data-src" => "../img/press/small/amica_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://www.cosmopolitan.it/moda/Stilisti-emergenti-Flavia-La-Rocca-fashion-designer-del-brand-flavialarocca", target: "_blank"}
            .overlay
            = image_tag "press/lowres/cosmo_cover.jpg", :"data-src" => "../img/press/small/cosmo_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/codigo_a.jpg", title: "Revista Codigo - December 2013"}
            .overlay
            = image_tag "press/lowres/codigo_cover.jpg", :"data-src" => "../img/press/small/codigo_cover.jpg" , :width => "134", :height => "171"
          .hidden
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/codigo_b.jpg", title: "Revista Codigo - December 2013"}
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/codigo_e.jpg", title: "Revista Codigo - December 2013"}
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/codigo_f.jpg", title: "Revista Codigo - December 2013"}
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/codigo_g.jpg", title: "Revista Codigo - December 2013"}
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/codigo_h.jpg", title: "Revista Codigo - December 2013"}
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/codigo_i.jpg", title: "Revista Codigo - December 2013"}
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/codigo_l.jpg", title: "Revista Codigo - December 2013"}
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/codigo_m.jpg", title: "Revista Codigo - December 2013"}
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/codigo_n.jpg", title: "Revista Codigo - December 2013"}
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/codigo_o.jpg", title: "Revista Codigo - December 2013"}
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/codigo_p.jpg", title: "Revista Codigo - December 2013"}
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/codigo_q.jpg", title: "Revista Codigo - December 2013"}
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/21.jpg", title: "Vogue Italia - November 2013"}
            .overlay
            = image_tag "press/lowres/21_cover.jpg", :"data-src" => "../img/press/small/21_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://www.vogue.it/talents/news/2013/11/talents-on-instagram", target: "_blank"}
            .overlay
            = image_tag "press/lowres/vogue_it_cover.jpg", :"data-src" => "../img/press/small/vogue_it_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/20a.jpg", title: "Edelwiss - October 2013"}
            .overlay
            = image_tag "press/lowres/20_cover.jpg", :"data-src" => "../img/press/small/20_cover.jpg" , :width => "134", :height => "171"
          .hidden
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/20b.jpg", title: "Edelwiss - October 2013"}
        %div
          %a{href: "http://www.frizzifrizzi.it/2013/10/10/flavialarocca-fw201314/", target: "_blank"}
            .overlay
            = image_tag "press/lowres/frizzifrizzi_cover.jpg", :"data-src" => "../img/press/small/frizzifrizzi_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/19.jpg", title: "Vogue Accessory - Semptember 2013"}
            .overlay
            = image_tag "press/lowres/19_cover.jpg", :"data-src" => "../img/press/small/19_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/vogue_talents.jpg", title: "Vogue Talents - Semptember 2013"}
            .overlay
            = image_tag "press/lowres/vogue_talents_cover.jpg", :"data-src" => "../img/press/small/vogue_talents_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/18a.jpg", title: "Vogue Italia - September 2013"}
            .overlay
            = image_tag "press/lowres/18_cover.jpg", :"data-src" => "../img/press/small/18_cover.jpg" , :width => "134", :height => "171"
          .hidden
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/18b.jpg", title: "Vogue Italia - September 2013"}
        %div
          %a{href: "http://www.bobos.it/stranger-in-milan_71653.htm", target: "_blank"}
            .overlay
            = image_tag "press/lowres/bobos_cover.jpg", :"data-src" => "../img/press/small/bobos_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://vestalmag.com/Blue%20My%20Mind.php", target: "_blank"}
            .overlay
            = image_tag "press/lowres/vestal_cover.jpg", :"data-src" => "../img/press/small/vestal_cover.jpg" , :width => "134", :height => "171"

        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/12a.jpg", title: "Maison Decor - July 2013"}
            .overlay
            = image_tag "press/lowres/12_cover.jpg", :"data-src" => "../img/press/small/12_cover.jpg" , :width => "134", :height => "171"
          .hidden
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/12b.jpg", title: "Maison Decor - July 2013"}
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/12c.jpg", title: "Maison Decor - July 2013"}
        %div
          %a{href: "http://www.mffashion.com/it/archivio/2013/07/10/a-roma-tornano-i-buyer", target: "_blank"}
            .overlay
            = image_tag "press/lowres/mffashion_cover.jpg", :"data-src" => "../img/press/small/mffashion_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/17.jpg", title: "Marie Claire - September 2013"}
            .overlay
            = image_tag "press/lowres/17_cover.jpg", :"data-src" => "../img/press/small/17_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://www.vanityfair.it/fashion/news/13/09/16/visa-per-la-vogue-fashion's-night-out", target: "_blank"}
            .overlay
            = image_tag "press/lowres/vanity_it_cover.jpg", :"data-src" => "../img/press/small/vanity_it_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://www.sickymagazine.com/teenage-kicks/", target: "_blank"}
            .overlay
            = image_tag "press/lowres/sicky_cover.jpg", :"data-src" => "../img/press/small/sicky_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://movingforward.style.it/2013/09/12/stilisti-emergenti-flavia-la-rocca/", target: "_blank"}
            .overlay
            = image_tag "press/lowres/style_it_cover.jpg", :"data-src" => "../img/press/small/style_it_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/cake_9_a.jpg", title: "Cake magazine - June 2013"}
            .overlay
            = image_tag "press/lowres/cake_9_cover.jpg", :"data-src" => "../img/press/small/cake_9_cover.jpg" , :width => "134", :height => "171"
          .hidden
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/cake_9_b.jpg", title: "Cake magazine - June 2013"}
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/cake_9_c.jpg", title: "Cake magazine - June 2013"}
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/cake_9_d.jpg", title: "Cake magazine - June 2013"}
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/15.jpg", title: "Vogue Italia - August 2013"}
            .overlay
            = image_tag "press/lowres/15_cover.jpg", :"data-src" => "../img/press/small/15_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/14a.jpg", title: "Vogue Italia - August 2013"}
            .overlay
            = image_tag "press/lowres/14_cover.jpg", :"data-src" => "../img/press/small/14_cover.jpg", :width => "134", :height => "171"
          .hidden
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/14b.jpg", title: "Vogue Italia - August 2013"}
        %div
          %a{href: "http://www.elle.it/Moda/Sfilate/Altaroma-Bring-Africa-Rome-moda-sfilate-Stella-Jean-Potenier-Roth-Flavia-La-Rocca-Arthur-Arbesser", target: "_blank"}
            .overlay
            = image_tag "press/lowres/elle_it_cover.jpg", :"data-src" => "../img/press/small/elle_it_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/13.jpg", title: "Vogue Italia - July 2013"}
            .overlay
            = image_tag "press/lowres/13_cover.jpg", :"data-src" => "../img/press/small/13_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://vfno2013.vogue.it/milano/iniziative-speciali/2013/07/visa-e-vfno", target: "_blank"}
            .overlay
            = image_tag "press/lowres/vogue_it_cover.jpg", :"data-src" => "../img/press/small/vogue_it_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://revista.vogue.globo.com/paristododia/2013/07/altaroma-dia-2/", target: "_blank"}
            .overlay
            = image_tag "press/lowres/vogue_brasile_cover.jpg", :"data-src" => "../img/press/small/vogue_brasile_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/11a.jpg", title: "Rendez-vous de la mode - June 2013"}
            .overlay
            = image_tag "press/lowres/11_cover.jpg", :"data-src" => "../img/press/small/11_cover.jpg" , :width => "134", :height => "171"
          .hidden
            %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/11b.jpg", title: "Rendez-vous de la mode - June 2013"}
        %div
          %a{href: "http://www.pittidiscovery.com/discovery/blog/blog/guerrini/pst16.html#.UUu_IBJ97O0.facebook", target: "_blank"}
            .overlay
            = image_tag "press/lowres/pitti_cover.jpg", :"data-src" => "../img/press/small/pitti_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://revista.vogue.globo.com/paristododia/2013/05/vogue-italia-e-chic-outlet-se-unem-para-apoiar-jovens-estilistas/", target: "_blank"}
            .overlay
            = image_tag "press/lowres/vogue_brasile_cover.jpg", :"data-src" => "../img/press/small/vogue_brasile_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://www.vogue.it/en/talents/news/2013/05/the-talent-store-in-fidenza#ad-image3", target: "_blank"}
            .overlay
            = image_tag "press/lowres/vogue_it_cover.jpg", :"data-src" => "../img/press/small/vogue_it_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://www.style.it/moda/news/2013/05/28/milla-jovovich-plus-talent-store.aspx#?refresh_ce", target: "_blank"}
            .overlay
            = image_tag "press/lowres/style_it_cover.jpg", :"data-src" => "../img/press/small/style_it_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/gla.jpg", title: "Gla magazine Taiwan - April 2013"}
            .overlay
            = image_tag "press/lowres/gla_cover.jpg", :"data-src" => "../img/press/small/gla_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/10.jpg", title: "Cosmopolitan Italia - April 2013"}
            .overlay
            = image_tag "press/lowres/10_cover.jpg", :"data-src" => "../img/press/small/10_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://www.bobos.it/flavialarocca-in-the-mix_63344.htm", target: "_blank"}
            .overlay
            = image_tag "press/lowres/bobos_cover.jpg", :"data-src" => "../img/press/small/bobos_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://www.frizzifrizzi.it/2013/04/12/flavialarocca-ss2013/", target: "_blank"}
            .overlay
            = image_tag "press/lowres/frizzifrizzi_cover.jpg", :"data-src" => "../img/press/small/frizzifrizzi_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://www.elle.it/Moda/Sfilate/La-collezione-Flavia-La-Rocca-per-l-AI-2013-14-raccontata-dalla-stilista-incontrata-a-Parigi-alla-fiera-Capsule-nella-sezione-IT.Talents", target: "_blank"}
            .overlay
            = image_tag "press/lowres/elle_it_cover.jpg", :"data-src" => "../img/press/small/elle_it_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/9.jpg", title: "Glamour Italia - March 2013"}
            .overlay
            = image_tag "press/lowres/9_cover.jpg", :"data-src" => "../img/press/small/9_cover.jpg", :width => "134", :height => "171"
        %div
          %a{href: "http://www.papercutmag.com/editorials/2013/03/18/surfing-50st-photographed-ention-sulo", target: "_blank"}
            .overlay
            = image_tag "press/lowres/papercut_cover.jpg", :"data-src" => "../img/press/small/papercut_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/8.jpg", title: "Vogue Italia - February 2013"}
            .overlay
            = image_tag "press/lowres/8_cover.jpg", :"data-src" => "../img/press/small/8_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://www.vogue.it/vogue-tv/talents/nuovi-talenti/Super1ok/player", target: "_blank"}
            .overlay
            = image_tag "press/lowres/vogue_it_cover.jpg", :"data-src" => "../img/press/small/vogue_it_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/7.jpg", title: "Amica Italia - February 2013"}
            .overlay
            = image_tag "press/lowres/7_cover.jpg", :"data-src" => "../img/press/small/7_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://www.glamour.it/news/2013/02/26/super-pitti", target: "_blank"}
            .overlay
            = image_tag "press/lowres/glamour_it_cover.jpg", :"data-src" => "../img/press/small/glamour_it_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{href: "http://www.vogue.it/talents/nuovi-talenti/2013/01/flavia-la-rocca", target: "_blank"}
            .overlay
            = image_tag "press/lowres/vogue_it_cover.jpg", :"data-src" => "../img/press/small/vogue_it_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/6.jpg", title: "Phit magazine - January 2013"}
            .overlay
            = image_tag "press/lowres/6_cover.jpg", :"data-src" => "../img/press/small/6_cover.jpg" , :width => "134"  , :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/5.jpg", title: "Kult magazine - January 2013"}
            .overlay
            = image_tag "press/lowres/5_cover.jpg", :"data-src" => "../img/press/small/5_cover.jpg" , :width => "134" , :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/4.jpg", title: "Cosmopolitan Italia - January 2013"}
            .overlay
            = image_tag "press/lowres/4_cover.jpg", :"data-src" => "../img/press/small/4_cover.jpg", :width => "134" , :height => "171"
        %div
          %a{href: "http://www.bobos.it/shutter-release-i-spy-with-my-eye_54679.htm#respond", target: "_blank"}
            .overlay
            = image_tag "press/lowres/bobos_cover.jpg", :"data-src" => "../img/press/small/bobos_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/3.jpg", title: "Cosmopolitan Russia - December 2012"}
            .overlay
            = image_tag "press/lowres/3_cover.jpg", :"data-src" => "../img/press/small/3_cover.jpg" , :width => "134" , :height => "171"
        %div
          %a{href: "http://blog.iodonna.it/iovorrei-ioposso/2012/10/17/un-abito-che-si-fa-in-due-tre-o-anche-quattro/", target: "_blank"}
            .overlay
            = image_tag "press/lowres/iodonna_cover.jpg", :"data-src" => "../img/press/small/iodonna_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/2.jpg", title: "Cosmopolitan Italia - July 2012"}
            .overlay
            = image_tag "press/lowres/2_cover.jpg", :"data-src" => "../img/press/small/2_cover.jpg" , :width => "134" , :height => "171"

        %div
          %a{href: "http://www.bobos.it/glam-e-green-la-metamorfosi-di-flavia-larocca_39838.htm", target: "_blank"}
            .overlay
            = image_tag "press/lowres/bobos_cover.jpg", :"data-src" => "../img/press/small/bobos_cover.jpg" , :width => "134", :height => "171"
        %div
          %a{ href: "http://dianepernet.typepad.com/diane/2012/04/flavialarocca-fall-winter-20122013.html", target: "_blank"}
            .overlay
            = image_tag "press/lowres/asvof_cover.jpg", :"data-src" => "../img/press/small/asvof_cover.jpg" , :width => "134", :height => "171"
        %div
          %a.fancybox{"data-fancybox-group" => "gallery", href: "../img/press/large/1.JPG", title: "Elle Belgique - March 2012"}
            .overlay
            = image_tag "press/lowres/asvof_cover.jpg", :"data-src" => "../img/press/small/1_cover.jpg", :width => "134"  , :height => "171"
        %div
          %a{href: "http://www.vanityfair.it/people/italia/2011/11/15/malika-ayane-intervista-vanity-fair-foto-matrimonio", target: "_blank"}
            .overlay
            = image_tag "press/lowres/vanity_it_cover.jpg", :"data-src" => "../img/press/small/vanity_it_cover.jpg" , :width => "134", :height => "171"

        /
          %div
            %a{href: "../img/press/large/marieclaire_it.jpg", target: "_blank"}
              .overlay
              = image_tag "press/lowres/marieclaire_it_cover.jpg", :"data-src" => "../img/press/small/marieclaire_it_cover.jpg" , :width => "134", :height => "171"
          %div
            %a{href: "../img/press/large/marieclaire_it.jpg", target: "_blank"}
              .overlay
              = image_tag "press/lowres/marieclaire_it_cover.jpg", :"data-src" => "../img/press/small/marieclaire_it_cover.jpg" , :width => "134", :height => "171"

  = partial "partials/footer"



= javascript_include_tag 'main'