.page
  = partial "partials/header"
  #shop-list
    #ss-list
      %h2.title
        %a{href: "#"}
          %span
            PRESS COVERAGE
      .list
        %div
          %a{:href => "/shop/stripesmania/minidress-stripes-red.html"}
            .info
              %p
                mini dress/top <br />
                <span style= "text-decoration: line-through; font-size: 12px">275€</span><br />
                55€
              .bkgr
            .overlay
            = image_tag "shop/list/small_lowfi/small_dress_righe_rosso_lowfi.jpg", :"data-src" => "../img/shop/list/small/small_dress_righe_rosso.jpg"

        %div
          %a{:href => "/shop/stripesmania/skirt-dress-stripes-orange.html"}
            .info
              %p
                skirt/dress <br />
                <span style= "text-decoration: line-through; font-size: 12px">192€</span><br />
                38€
              .bkgr
            .overlay
            = image_tag "shop/list/small_lowfi/small_gonna_righe_arancio_lowfi.jpg", :"data-src" => "../img/shop/list/small/small_gonna_righe_arancio.jpg"

        %div
          %a{:href => "/shop/stripesmania/skirt-dress-stripes-green.html"}
            .info
              %p
                skirt/dress  <br />
                <span style= "text-decoration: line-through; font-size: 12px">192€</span><br />
                38€
              .bkgr
            .overlay
            = image_tag "shop/list/small_lowfi/small_gonna_verde_lowfi.jpg", :"data-src" => "../img/shop/list/small/small_gonna_verde.jpg"
        %div
          .info
            %p
              3 piece skirt <br />
              SOLD OUT
            .bkgr
          .overlay
          = image_tag "shop/list/small_lowfi/small_gonnalunga_arancio_lowfi.jpg", :"data-src" => "../img/shop/list/small/small_gonnalunga_arancio.jpg"
        %div
          %a{:href => "/shop/stripesmania/skirt-dress-orange-stripes.html"}
            .info
              %p
                miniskirt/dress <br />
                <span style= "text-decoration: line-through; font-size: 12px">206€</span><br />
                41€
              .bkgr
            .overlay
            = image_tag "shop/list/small_lowfi/small_gonnamini_arancio_lowfi.jpg", :"data-src" => "../img/shop/list/small/small_gonnamini_arancio.jpg"
        %div
          %a{:href => "/shop/stripesmania/mini-skirt-stripes-green.html"}
            .info
              %p
                miniskirt <br />
                <span style= "text-decoration: line-through; font-size: 12px">247€</span><br />
                49€
              .bkgr
            .overlay
            = image_tag "shop/list/small_lowfi/small_mini_righe_verdi_lowfi.jpg", :"data-src" => "../img/shop/list/small/small_mini_righe_verdi.jpg"
        %div
          %a{:href => "/shop/stripesmania/two-piece-short-orange-dress.html"}
            .info
              %p
                mini dress <br />
                <span style= "text-decoration: line-through; font-size: 12px">316€</span><br />
                63€
              .bkgr
            .overlay
            = image_tag "shop/list/small_lowfi/small_minidress_arancio_lowfi.jpg", :"data-src" => "../img/shop/list/small/small_minidress_arancio.jpg"

        %div
          %a{:href => "/shop/stripesmania/overalls-stripe-orange.html"}
            .info
              %p
                overalls <br />
                <span style= "text-decoration: line-through; font-size: 12px">357€</span><br />
                71€
              .bkgr
            .overlay
            = image_tag "shop/list/small_lowfi/small_salopette_arancio_lowfi.jpg", :"data-src" => "../img/shop/list/small/small_salopette_arancio.jpg"
        %div
          %a{:href => "/shop/stripesmania/overalls-stripes-red.html"}
            .info
              %p
                overalls <br />
                <span style= "text-decoration: line-through; font-size: 12px">357€</span><br />
                71€
              .bkgr
            .overlay
            = image_tag "shop/list/small_lowfi/small_salopette_rossa_lowfi.jpg", :"data-src" => "../img/shop/list/small/small_salopette_rossa.jpg"

        %div
          .info
            %p
              top <br />
              SOLD OUT
            .bkgr
          .overlay
          = image_tag "shop/list/small_lowfi/small_top_righe_arancio_lowfi.jpg", :"data-src" => "../img/shop/list/small/small_top_righe_arancio.jpg"

  = partial "partials/footer"



= javascript_include_tag 'main'