.page
  = partial "partials/header"


  %h2.title
    %a{href: "http://www.wowcracy.com/en/lab/user/340/project/the-folded-looks-flavialarocca"}
    .color-box
      = image_tag "flr_wowcracy.jpg"
  = partial "partials/vfno"

  %h2.title
    %a{href: "http://vfno2013.vogue.it/milano/iniziative-speciali/2013/07/visa-e-vfno"}
    .color-box
      = image_tag "flr_vfno_pics.jpg",:width => "940"

  %h2.title
    .color-box
      = image_tag "flr_fidenza_pics.jpg" ,:width => "940"


  = partial "partials/footer"


= javascript_include_tag 'main'