.page
  = partial "partials/header"



  #shop-list
    #stripesmania-list
      %h2.title
        %a{href: "#"}
          %span
            STRIPES-MANIA


      .list
        %div
          %a{:href =>  "/shop/fw1314/2-piece-coat-chiaro.html"}
            .info
              %p
                2-piece coat <br />
                515€
              .bkgr
            .overlay
            = image_tag "shop/list/fw13/small_lowfi/small_dress_righe_rosso_lowfi.jpg", :"data-src" => "../img/shop/list/fw13/small/small_dress_righe_rosso.jpg"
        %div
          %a{:href =>  "/shop/fw1314/2-piece-coat-purple.html"}
            .info
              %p
                2-piece coat <br />
                425€
              .bkgr
            .overlay
            = image_tag "shop/list/fw13/small_lowfi/small_dress_righe_rosso_lowfi.jpg", :"data-src" => "../img/shop/list/fw13/small/small_dress_righe_rosso.jpg"
        %div
          %a{:href =>  "/shop/fw1314/2-piece-coat-scuro.html"}
            .info
              %p
                2-piece coat <br />
                515€
              .bkgr
            .overlay
            = image_tag "shop/list/fw13/small_lowfi/small_dress_righe_rosso_lowfi.jpg", :"data-src" => "../img/shop/list/fw13/small/small_dress_righe_rosso.jpg"
        %div
          %a{:href =>  "/shop/fw1314/2-piece-jacket-hood.html"}
            .info
              %p
                2-piece coat <br />
                515€
              .bkgr
            .overlay
            = image_tag "shop/list/fw13/small_lowfi/small_dress_righe_rosso_lowfi.jpg", :"data-src" => "../img/shop/list/fw13/small/small_dress_righe_rosso.jpg"

  = partial "partials/footer"



= javascript_include_tag 'main'